$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;

$primary-color: #c9ab81;
$bg-color: #000;
$text-color: #fff;
$text-light: rgba(255, 255, 255, 0.8);
$border-color: rgba(201, 171, 129, 0.3);


$font-dancing: var(--font-dancing-script), cursive;
$font-montserrat: var(--font-montserrat), sans-serif;
